<h1>Edit Movement</h1>

<div class="row">
  <%=form_for @movement, url: movement_path(@movement), method: :patch do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%=f.collection_select :type, Movement::TYPES, :itself, :itself, {}, { class: 'validate' }%>
          <%=f.label :type, 'Type' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=f.text_field :amount, { class: 'form-control' }%>
          <%=f.label :amount, 'Amount' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=f.text_area :description, { class: 'validate materialize-textarea' }%>
          <%=f.label :description, 'Description' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%=button_tag :save, class: 'waves-effect btn' %>
          <%= link_to 'Cancel', movements_path, class: 'btn'%>
        </div>
      </div>
  <%end%>
</div>
