<HEAD>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</HEAD>

<h4>Movements</h4>
<table class="striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Description</th>
    <th>Amount</th>
  </tr>
  </thead>

  <tbody>
  <% @movements.each do |movement|%>
  </tr>
    <td><%=localize(movement.created_at, :format => :long) %></td>
    <td><%=movement.type%></td>
    <td><%=movement.description%></td>
    <td><%=movement.amount%></td>
    <td>
      <%= show_button_for movement %>
      <%= edit_button_for edit_movement_path(movement) %>
      <%= remove_button_for movement_path(movement.id) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="input-field col s12">
    <%= link_to 'New', new_movement_path, class: 'btn'%>
  </div>
</div>